@{
    ViewData["Title"] = "Text Predict";
}

<h1>Nhận diện văn bản</h1>

<input type="text" id="text-field" placeholder="Make predict">
<input type="button" value="Predict" onclick="predict()">

<div id="preResult"></div>

